################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinyAPI/BinyAPI/obj
/BinyAPI/BinyAPI/bin
/BinyAPI/BinyAPI/Properties/PublishProfiles
